* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

html {
  /* background-color: rgb(255, 82, 128); */
  background-color: black;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
  height: 100%;
  overflow: hidden;
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
  opacity: 0.5;
  margin-top: 0.5rem
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a h5:hover{
  cursor: pointer;
  opacity: 0.5;
}

a:visited {
  color: white;
}

button {
  background-color: white;
  color: black;
  font-size: 1.2rem;
  width: 100%;
  margin: 0.5rem 0;
  padding: 1rem 1rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  opacity: 0.7;
}

button:active {
  opacity: 0.4;
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto 2rem;
  height: 100dvh;
}

.get-id-container {
  text-align: left;
  padding: 0 2rem;
  border-radius: 0.3rem;
  width: 20rem;
  /* margin-bottom: 2rem; */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.buffer-animation {
  height: 100px;
  width: 100px;
  animation: spin 1s linear infinite;
  margin-bottom: 1rem;
}

.artwork {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.song-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.view-songlist {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(255, 255, 255, 0.3); /* Optional: Adjust text color */
  font-size: 1rem;
}